@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  box-sizing: border-box;
  color: #333333;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.page-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 1200px;
}

.main-index,
.main-inner {
  flex-grow: 1;
}

/*button*/

.button {
  color: #ffffff;
  background-color: #756157;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-blue {
  background-color: #82b3d3;
}

.button-grey {
  background-color: #f2f2f2;
}

.button-green {
  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
}

/*intro*/

.intro {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

/*text*/

.text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/*title*/

.title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/*header-page*/

.page-header {
  align-items: center;
  display: flex;
  font-weight: 700;
  margin: 0 auto;
  width: 1060px;
}

.header-logo {
  margin-right: 30px;
}

.navigation{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 465px;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-user {
  width: 300px;
}

.navigation-user .button {
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/*main-page*/

.hero {
  background-color: #ffffff;
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #000000;
  text-align: center;
}

.advantages {
  text-align: center;
}

.advantages-title-container {
  padding: 69px 275px 69px 275px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-item-first,
.advantage-item-last {
  display: flex;
}

.list-card {
  height: 385px;
  width: 400px;
  display: flex;
}

.list-card-inner {
  margin: auto;
  width: 230px;
}

.advantages-img {
  width: 800px;
}

.advantages-title{
  margin: 0;
  padding: 0;
}

.advantages-inner {
  margin: 0;
  padding: 0;
}

.advantage-blue,
.advantage-blue .title {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantage-grey {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantage-white {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-grey .advantages-title,
.advantage-white .advantages-title {
  color: #000000;
}

.advices {
  text-align: center;
}

.advicse-title-container {
  padding: 64px 348px 64px 348px;
}

.advices-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advices-item {
  width: 400px;
}

.advice-inner {
  margin: 0 auto;
  padding: 0;
  width: 230px;
}

.advice-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  text-align: center;
  padding: 96px 304px 96px 304px;
}

.search-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px 8px 50px;
  font-weight: 700;
}

.subscription {
  text-align: center;
  background-image: url("../images/subscription-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  color: #ffffff;
  padding: 96px 258px 96px 258px;
}

.subscription .intro {
  color: #ffffff;
}

.subscription .email-input {
  background-color: #f2f2f2;
  line-height: 24px;
}

.subscription .button {
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px 8px 50px;
}

/*footer-page*/

.communication {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

/*main-inner*/

.upper-container {
  color: #ffffff;
  background: #000000;
  background-image: url("../images/selection-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
}

.breadcrumbs-item {
  display: inline-block;
}
.selection-legend {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.selection-form {
  display: flex;
  justify-content: space-between;
}

.infrastruct,
.house {
  width: 150px;
}

.price {
  width: 288px;
}

.sellection-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
  width: 191px;
}

.selection-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selection-item {
  line-height: 23px;
}

.range-input-label {
  color: #000000;
  line-height: 24px;
}

.range-input {
  background-color: #f2f2f2;
}

.select-apply {
	margin-bottom: 20px;
	background-color: #82b3d3;
}

.select-reset {
  background-color: transparent;
}

.offers {
  padding: 0 70px 0 70px;
}

.offers-text {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 342px;
}

.appearence-container {
	align-items: center;
	display: flex;
}

.offers-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-left: auto;
}

.offers-order {
  margin-right: 70px;
  width: 292px;
}

.offers-appearence {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 160px;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallary-item {
  margin-right: 20px;
  padding: 20px;
}

.gallary-item:nth-child(3) {
  margin-right: 0;
}

.gallary-link  {
  text-decoration: none;
  padding: 8px 26px 8px 26px;
}

.gallary-link-img {
  text-decoration: none;
  padding: 0;
}

.gallary-button {
  padding: 8px 22px 8px 22px;
}

.gallary-item-cost,
.gallary-item-description,
.gallary-rating-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.gallary-link-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
}

.gallary-item-description {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.gallary-item-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 8px 22px 8px 22px;
}

.offers-pagination {
  list-style: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: inline-block;
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 23px 11px 23px;
}

.pagination-link-current,
.offers-pagination .button-transparent {
  color: #000000;
}

.subscription-inner {
  background-image: none;
  background-color: #ffffff;
}

.subscription-inner .intro {
  color: #000000;
}

.subscription-inner .text {
  color: #333333;
}
