@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format(woff2);
    font-display: swap;
}

@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format(woff2);
    font-display: swap;
}


body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    color: #333;
}

/*button*/

.button {
    color: #fff;
    background-color: #756157;
    border: none;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.button-blue {
    background-color: #82B3D3;
}

.button-grey {
    background-color: #F2F2F2;
}

.button-green {
    background-color: #7DB54F;
}

.button-transparent {
    background-color: transparent;
}

/*intro*/

.intro {
    color:#000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

/*text*/

.text {
    font-size: 22px;
    line-height: 26px;
}

/*title*/

.title {
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

/*header-page*/

.page-header {
    font-weight: 700;
}

.navigation-list {
    list-style: none;
}

.navigation-link {
    color: #000;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}

.navigation-user .button {
    color:#fff;
    background-color:#756157;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

/*main-page*/

.hero {
    background-color: #fff;
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #000;
    text-align: center;
}

.advantages {
    text-align: center;
}

.advantages-list {
    list-style: none;
}

.advantage-blue, .advantage-blue .title {
    background-color: #82B3D3;
    color: #fff;
}

.advantage-grey {
    background-color: rgba(131, 179, 211, 0.20);
}

.advantage-white {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage-grey .advantages-title, .advantage-white .advantages-title {
    color: #000;
}

.advices {
    text-align: center;
}

.advices-list {
    list-style: none;
}

.advice-grey {
    background-color:rgba(131, 179, 211, 0.12) ;
}

.search {
    text-align: center;
}

.search-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #756157;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
}

.subscription {
    text-align: center;
    background-image: url("../images/subscription-bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #000;
    color: #fff;
}

.subscription .intro{
    color: #fff;
}

.subscription .email-input{
    background-color: #f2f2f2;
    line-height: 24px;
}

.subscription .button {
    color: #fff;
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

/*footer-page*/

.social {
    list-style: none;
}

.phone {
    color: #000;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

/*main-inner*/

.upper-container {
    color: #fff;
    background: #000;
    background-image: url("../images/selection-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs-link {
    font-size: 16px;
    text-decoration: none;
}

.selection-legend {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.selection-list {
    list-style: none;
}

.selection-item {
    line-height: 23px;
}

.range-input-label {
    color: #000;
    line-height: 24px;
}

.range-input {
    background-color: #F2F2F2;
}

.select-apply {
    background-color: #82B3D3;
}


.select-reset {
    background-color: transparent;
}

.offers-text {
    color: #000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.offers-appearence{
    list-style: none;
}

.gallary {
    list-style: none;
}

.gallary-link {
    text-decoration: none;;
}

.gallary-link-title {
    color: #000;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: none;
}

.gallary-item-description {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.gallary-item-rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #F2F2F2;
}

.offers-pagination {
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.pagination-link{
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-link-current, .offers-pagination .button-transparent {
    color: #000;
}

.subscription-inner {
    background-image: none;
    background-color: #fff;
}

.subscription-inner .intro {
    color: #000;
}

.subscription-inner .text {
    color: #333;
}
